<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.benben.modules.business.course.mapper.CourseDTOMapper">

    <select id="searchNoticeByPage" parameterType="java.util.Map" resultType="org.benben.modules.business.course.entity.CourseDTO"
    >
        select  t3.*,t2.name AS courseTypeName from (select t1.id,t1.course_name courseName,t1.comment,t1.price,t1.num,t1.starttime,t1.endtime,t1.address,t1.language,t1.intro,
        t1.course_content courseContent,t1.picture_url pictureUrl,t1.video_url videoUrl,t1.course_verify courseVerify,t1.course_refund  courseRefund,t1.achieve,t1.create_time createTime,
        t1.create_by createBy,t1.update_time updateTime,t1.update_by updateBy,t1.course_type courseType,t1.enter_num enterNum
        from bb_course AS t1 where 1=1
        <if test="courseName !=null and courseName != ''">
            and t1.course_name = #{courseName}
        </if>

        <if test="courseType !=null and courseType != ''">
            and t1.course_type = #{courseType}
        </if>

        ) t3
        LEFT JOIN bb_course_type AS t2 ON t3.courseType = t2.id
        limit #{page}, #{perpage}

    </select>
    <select id="countNotice"
            parameterType="java.util.Map" resultType="Integer">

        select count(*)
        from bb_course AS t1 where 1=1
        <if test="courseName !=null and courseName != ''">
            and t1.course_name = #{courseName}
        </if>

        <if test="courseType !=null and courseType != ''">
            and t1.course_type = #{courseType}
        </if>


    </select>

</mapper>